*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

} 

html{
    scroll-behavior: smooth;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(img/header2.jpg);
    background-size: cover;
    background-position: center;
}
/* navbar */
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.nav-list{
    display: flex;
    padding: 35px 0;
    justify-content: center;
    align-items: center;
   
}
.logo{
     position:absolute;
    height: 20%;
    /* width: 10%; */
    left:0;
    top:0; 
    cursor: pointer;
 }

 .logo img{
    width: 50;
 }
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #351fc2;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 61%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1{
    font-size: 50px;
    margin-top: 80px;
    
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button{
    width: 150px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #303ef7;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{ 

    background: #351fc2;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover  span{
    width: 100%;
}

button:hover{
    border: none;
}
/*** Service ***/

.container{
    width: 80%;
    height: 40%;
    padding: 0 8%;
}

.container h1{
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
}

.container h1 ::after{
    content:'';
    background: #303ef7;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left:50%;
    transform: translateX(-50%);
}
.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.service{
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: transparent; 
    transition: transfrom 0.5s, background 0.5s;
}
.service img{
    width: 50px;
    
}
.service h2{
    font-weight: 600;
    margin-bottom: 2px;
}
.service:hover {
    background: #303ef7;
    color: #fff;
    transform: scale(1.05);
}
.service button{
    width: 150px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #303ef7;
    background: transparent;
    color: rgb(8, 8, 8);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.service span{
    background: #c3c2c9;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

/*** Aboutus ***/
.about{
    height: 50%;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.about .main img{
    width: 580px;
    max-width:100%;
    height: auto;
    padding: 0 10px;
}
.all-text{
    width: 600px;
    max-width: 100%;
    padding: 0 10px;
}
.main{
    width: 1290px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.all-text h4{
    font-size: 18px;
    color: #777777;
    letter-spacing: 1px;
    font-weight: 400;
margin-bottom: 10px;
}
.all-text h1{
    font-size: 35px;
    color: #111111;
    font-weight: 700;
    margin-bottom: 20px;
}
.all-text p{
    font-size: 16px;
    color: #777777;
    line-height: 30px;
    margin-bottom: 35px;
}
.all-text button{
    width: 150px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #303ef7;
    background: transparent;
    color: rgb(8, 8, 8);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.all-text span{
    background: #351fc2;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}




@media screen and (max-width:1250px){

    .nav-list{
        flex-direction: column;
       
    }

    .navbar{
        transition: all 0.7s ease-in-out;
        height: 20%;
       
    }

    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }

    .v-class-resp{
        opacity: 0;
    }

    .about{
        width: 100%;
        height: 50%;
        padding: 60px 0;
    }
    .all-text{
        text-align: center;
        margin-top: 40px;
    }
}
@media screen and (max-width:650px){
    .about .main img{
        margin-bottom: 35px;

    }
    .all-text h1{
        font-size: 45px;
        margin-bottom: 20px;
        
    }
}

/*** Blog ***/

#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.blog-heading h5{
    color: #351fc2;
    font-family: 'Poppins', sans-serif;
}
.blog-heading h3{
    font-size: 20px;
    color: #24262b;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.blog-row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.bolg-box{
    width: 50px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
}

.blog-img{
    width: 100%;
    height: auto;

}

.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text h5{
    color: #351fc2;
    font-size: 20px;
}
.blog-text p{
    color: #9b9b9b;
    font-size: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.blog-text button{
    width: 150px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #303ef7;
    background: transparent;
    color: rgb(8, 8, 8);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.blog-text span{
    background: #351fc2;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

/*** Contact us ***/
.contact-in{
    width: auto;
    height: auto;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px #666;
    font-family: 'Poppins', sans-serif;
}
.contact-map{
    width: 100%;
    height: auto;
    flex: 50%;

}
.contact-map iframe{
    width: 100%;
    height: 100%;
    

}  

.contact-from{
    width: 100%;
    height: auto;
    flex: 50%; 
    text-align: center; 
}

.contact-from h1{
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}
.contact-from-txt{
width: 90%;
height: 40px;
color: #000;
border: 1px solid #bcbcbc;
border-radius: 50px;
outline: none;
margin-bottom: 20px;
padding: 15px;
}
.contact-from-txt::placeholder{
    color:#aaa;
}
.contact-from-txtarea{
    width: 90%;
    height: 130px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 20px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    }
    .contact-from-txtarea::placeholder{
        color: #aaa;
    }

    .contact-from-btn{
        width: 100%;
        border:none;
        outline: none;
        border-radius: 50px;
        background: #351fc2;
        color: #fff;
        text-transform: uppercase;
        padding: 10px 0;
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
    }
   
    /*** Footer ***/
    .container-f{
        max-width: 1170px;
        
        margin: auto;
    }
    .row-f{
        display: flex;
        flex-wrap: wrap;
    }
    ul{
        list-style: none;
    }
    .footer{
        background-color: #24262b;
        padding: 70px 0;
    }
    .footer-col{
        width: 60%;
        padding: 0 15px;
    }
    
    .footer-col h4{
     font-size: 18px;
     color: #fff;
     text-transform: capitalize;
     margin-bottom: 30px;  
     font-family: 'Poppins', sans-serif;
     font-weight: 500;
     position: relative;
}

.footer-col .f-c{
    width: 100%;
}

.footer-col .f-c i{
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer-col .f-c i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-col .f-c p{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: black;
    transition: all 0.3s ease;
}


.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #351fc2;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: black;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 20px;
}

.footer-col .f-c p:hover{
    color: #ffffff;
    padding-left: 20px; 
}
/* top button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(9, 107, 188);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  #myBtn:hover {
    background-color: #555;
  }
 